#root {
  max-width: 1280px;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.pokemon-card-container{
  margin: 10px;
}